<div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="../../../assets/images/hero-bg.png" alt="">
      </div>
    </div>
  
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="../../index.html">
            <span>
              Finexo
            </span>
          </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="why.html">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="team.html">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Tunisian bank <br>
                      of engineers
                    </h1>
                    <p>
                      The first bank in the world exclusive to engineers, the bank that offers services that only engineers deserve
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read more
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../../../assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      specialized <br>
                      financial products
                    </h1>
                    <p>
                      We offer financial products designed specifically for engineers, such as engineering project financing, equipment loans for engineering companies or specialized insurance packages for engineering professionals.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read more
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../../../assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Focused on<br>
                      Technologies
                    </h1>
                    <p>
                      Advanced digital banking features are prioritized, including robust online and mobile banking platforms, as well as innovative tools for financial planning, budgeting and investment management and comprehensive support for cryptocurrencies.
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read more
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../../../assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
  
    </section>
    <!-- end slider section -->
  </div>
  
  
  <!-- service section -->
  
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Currency Wallet
                </h5>
                <p>
                  Our Currency Wallet service allows you to easily manage both digital and traditional currencies, providing a convenient solution for your international financial management and currency exchange needs.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Security Storage
                </h5>
                <p>
                  Our Security Storage solution ensures the protection of your most valuable financial assets through state-of-the-art security measures, offering absolute peace of mind regarding the safety of your investments.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Expert Support
                </h5>
                <p>
                  Our team of Expert Support is here to guide you at every step of your financial journey, offering personalized advice and tailored solutions to meet your specific needs, helping you achieve your financial goals with confidence and success.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end service section -->
  
  
  <!-- about section -->
  
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
         Melle5er we are the best 
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="../../../assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are TBE
            </h3>
            <p>
              At the Tunisian Bank of Engineers, we pride ourselves on providing tailored financial solutions designed to empower engineers, offering innovative services that cater to their unique needs and aspirations
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end about section -->
  
  <!-- why section -->
  
  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Expert Management
            </h5>
            <p>
              Our team of seasoned professionals at the Tunisian Bank of Engineers ensures expert management of your finances, guiding you with precision and insight to optimize your financial portfolio.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/images/w2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Secure Investment
            </h5>
            <p>
              Rest assured with our Secure Investment solutions, meticulously designed to safeguard your assets and provide stable growth opportunities, allowing you to invest confidently in your future.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Instant Trading
            </h5>
            <p>
              Experience the convenience of Instant Trading with our cutting-edge platform, enabling swift and efficient transactions to seize market opportunities in real-time, ensuring you stay ahead in your investment endeavors.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/images/w4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Happy Customers
            </h5>
            <p>
              Our commitment to customer satisfaction is paramount, and we take pride in delivering exceptional service that leaves our customers not just satisfied, but genuinely happy, building lasting relationships based on trust, reliability, and mutual success.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  
  <!-- end why section -->
  
  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Our <span> Team</span>
        </h2>
      </div>
  
      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/team-1.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Mahdi Ben Slima
                </h5>
                <p>
                  Marketing Head
                </p>
              </div>
              <div class="social_box">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/team-2.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Oussema Abid
                </h5>
                <p>
                  Marketing Head
                </p>
              </div>
              <div class="social_box">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/team-3.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Montassar Bargougui
                </h5>
                <p>
                  Marketing Head
                </p>
              </div>
              <div class="social_box">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="../../../assets/images/team-4.jpg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Amal Ben Hamida
                </h5>
                <p>
                  Our teacher
                </p>
              </div>
              <div class="social_box">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->
  
  <!-- info section -->
  
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Sfax , FSS
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +216 98 457 135
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  engineerstba.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              At the Tunisian Bank of Engineers, we pride ourselves on providing tailored financial solutions designed to empower engineers, offering innovative services that cater to their unique needs and aspirations.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="index.html">
                Home
              </a>
              <a class="" href="about.html">
                About
              </a>
              <a class="" href="service.html">
                Services
              </a>
              <a class="" href="why.html">
                Why Us
              </a>
              <a class="" href="team.html">
                Team
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end info section -->
  
  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- footer section -->